@charset "UTF-8";
/* line 18, app/assets/stylesheets/home/header.scss */
::-moz-placeholder {
/* Chrome, Firefox, Opera, Safari 10.1+ */
color: #868e96;
opacity: 1;
/* Firefox */
}
:-ms-input-placeholder {
/* Chrome, Firefox, Opera, Safari 10.1+ */
color: #868e96;
opacity: 1;
/* Firefox */
}
::-ms-input-placeholder {
/* Chrome, Firefox, Opera, Safari 10.1+ */
color: #868e96;
opacity: 1;
/* Firefox */
}
::placeholder {
/* Chrome, Firefox, Opera, Safari 10.1+ */
color: #868e96;
opacity: 1;
/* Firefox */
}

/* line 23, app/assets/stylesheets/home/header.scss */
input {
font-family: "Noto Sans KR", AppleSDGothicNeo, "Apple SD Gothic Neo", AppleSDGothicNeo-Light, HelveticaNeue-Light, "Malgun Gothic", "맑은 고딕", sans-serif;
}

/* line 27, app/assets/stylesheets/home/header.scss */
button {
background: none;
color: inherit;
border: none;
padding: 0;
font: inherit;
cursor: pointer;
outline: inherit;
}

/* line 37, app/assets/stylesheets/home/header.scss */
#fixed-bar {
width: 100%;
background-color: #fff;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 100;
}

/* line 45, app/assets/stylesheets/home/header.scss */
#fixed-bar #fixed-bar-wrap {
width: 1024px;
margin: 0 auto;
padding: 16px 0;
position: relative;
}

/* line 50, app/assets/stylesheets/home/header.scss */
#fixed-bar #fixed-bar-wrap .fixed-logo {
width: 120px;
vertical-align: text-bottom;
margin-bottom: 5px;
}

/* line 55, app/assets/stylesheets/home/header.scss */
#fixed-bar #fixed-bar-wrap #fixed-bar-search {
position: absolute;
left: 152px;
top: 16px;
border-radius: 5px;
border: solid 1px #e9ecef;
text-decoration: none;
padding: 0 1.6rem;
height: 40px;
box-sizing: border-box;
}

/* line 67, app/assets/stylesheets/home/header.scss */
#fixed-bar #fixed-bar-wrap #fixed-bar-search:focus-within {
border: solid 1px #212529;
}

/* line 70, app/assets/stylesheets/home/header.scss */
#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-input-wrap {
display: flex;
justify-content: space-between;
}

/* line 73, app/assets/stylesheets/home/header.scss */
#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-input-wrap .fixed-search-input {
display: block;
width: 340px;
border: none;
font-size: 16px;
color: #212529;
background-color: transparent;
}

/* line 80, app/assets/stylesheets/home/header.scss */
#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-input-wrap .fixed-search-input:focus {
outline: none;
}

/* line 84, app/assets/stylesheets/home/header.scss */
#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-input-wrap .fixed-search-icon {
width: 19px;
height: 19px;
fill: #868e96;
padding: 1rem 0;
}

/* line 91, app/assets/stylesheets/home/header.scss */
#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-keyword-wrap {
position: absolute;
left: 20px;
top: 40px;
border: 1px solid #FF8A3D;
width: 448px;
padding: 10px;
background: #fff;
z-index: 101;
line-height: 2;
display: none;
font-size: 16px;
font-weight: 600;
}

/* line 104, app/assets/stylesheets/home/header.scss */
#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-keyword-wrap .search-keyword-text {
color: #FF8A3D;
}

/* line 107, app/assets/stylesheets/home/header.scss */
#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-keyword-wrap .search-keyword-list {
white-space: normal;
word-break: normal;
}

/* line 110, app/assets/stylesheets/home/header.scss */
#fixed-bar #fixed-bar-wrap #fixed-bar-search .search-keyword-wrap .search-keyword-list .search-keyword {
text-decoration: none;
color: #212529;
white-space: nowrap;
margin-right: 8px;
}

/* line 120, app/assets/stylesheets/home/header.scss */
#fixed-bar #fixed-bar-wrap #fixed-bar-download {
position: absolute;
right: 0;
top: 16px;
}

/* line 124, app/assets/stylesheets/home/header.scss */
#fixed-bar #fixed-bar-wrap #fixed-bar-download .fixed-download-button {
width: 140px;
border-radius: 5px;
border: solid 1px #e9ecef;
box-sizing: border-box;
text-decoration: none;
display: inline-block;
vertical-align: middle;
text-align: center;
padding: 0.9rem 0;
}

/* line 136, app/assets/stylesheets/home/header.scss */
#fixed-bar #fixed-bar-wrap #fixed-bar-download .fixed-download-button .fixed-download-text {
display: inline-block;
color: #495057;
font-size: 14px;
margin-left: 8px;
font-weight: 700;
vertical-align: middle;
}

/* line 144, app/assets/stylesheets/home/header.scss */
#fixed-bar #fixed-bar-wrap #fixed-bar-download .fixed-download-button .fixed-google-play,
#fixed-bar #fixed-bar-wrap #fixed-bar-download .fixed-download-button .fixed-apple-store {
fill: #495057;
vertical-align: middle;
display: inline-block;
}

/* line 150, app/assets/stylesheets/home/header.scss */
#fixed-bar #fixed-bar-wrap #fixed-bar-download .fixed-download-button:hover {
border: solid 1px #CED4DA;
}

/* line 154, app/assets/stylesheets/home/header.scss */
#fixed-bar #fixed-bar-wrap #fixed-bar-download #header-download-button-ios {
margin-right: 8px;
}

/* line 161, app/assets/stylesheets/home/header.scss */
.fixed-bar-box-shadow {
box-sizing: border-box;
border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

/* line 167, app/assets/stylesheets/home/header.scss */
.hoian-gb #fixed-bar #fixed-bar-wrap #fixed-bar-download .fixed-download-button {
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
}

/* line 171, app/assets/stylesheets/home/header.scss */
.hoian-gb #fixed-bar #fixed-bar-wrap #fixed-bar-download .fixed-download-button:hover {
background-color: #17191D;
}

/* line 175, app/assets/stylesheets/home/header.scss */
.hoian-gb #fixed-bar #fixed-bar-wrap #fixed-bar-download .fixed-download-button:hover {
border-color: rgba(255, 255, 255, 0.6);
}

/* line 179, app/assets/stylesheets/home/header.scss */
.hoian-gb #fixed-bar #fixed-bar-wrap #fixed-bar-download .fixed-download-button .fixed-download-text {
color: #fff;
}
/* line 7, app/assets/stylesheets/home/footer.scss */
footer {
background-color: #495057;
color: #fff;
padding: 8rem 0;
}

/* line 11, app/assets/stylesheets/home/footer.scss */
footer .footer-container {
width: 1024px;
margin: 0 auto;
}

/* line 14, app/assets/stylesheets/home/footer.scss */
footer .footer-container .footer-top {
display: flex;
justify-content: space-between;
margin-bottom: 4rem;
}

/* line 18, app/assets/stylesheets/home/footer.scss */
footer .footer-container .footer-top .footer-logo {
width: 130px;
height: 37px;
background-image: url(/images/carrot_white.svg);
background-size: 130px 37px;
}

/* line 24, app/assets/stylesheets/home/footer.scss */
footer .footer-container .footer-top .footer-list {
list-style-type: none;
}

/* line 26, app/assets/stylesheets/home/footer.scss */
footer .footer-container .footer-top .footer-list .footer-list-item {
display: block;
font-size: 1.6rem;
margin-bottom: 1.6rem;
}

/* line 30, app/assets/stylesheets/home/footer.scss */
footer .footer-container .footer-top .footer-list .footer-list-item a {
color: #ADB5BD;
text-decoration: none;
}

/* line 33, app/assets/stylesheets/home/footer.scss */
footer .footer-container .footer-top .footer-list .footer-list-item a:hover {
text-decoration: underline;
}

/* line 37, app/assets/stylesheets/home/footer.scss */
footer .footer-container .footer-top .footer-list .footer-list-item .link-highlight {
color: #fff;
font-weight: 700;
}

/* line 44, app/assets/stylesheets/home/footer.scss */
footer .footer-container .footer-bottom {
display: flex;
justify-content: space-between;
border-top: 1px solid rgba(255, 255, 255, 0.1);
margin-top: 3.2rem;
}

/* line 50, app/assets/stylesheets/home/footer.scss */
footer .footer-container #copyright {
color: #ADB5BD;
margin-top: 3.2rem;
}

/* line 53, app/assets/stylesheets/home/footer.scss */
footer .footer-container #copyright .copyright-list {
list-style-type: none;
margin-bottom: 0.4rem;
}

/* line 56, app/assets/stylesheets/home/footer.scss */
footer .footer-container #copyright .copyright-list .copyright-list-item {
display: inline-block;
font-size: 1.4rem;
margin-right: 0.8rem;
}

/* line 60, app/assets/stylesheets/home/footer.scss */
footer .footer-container #copyright .copyright-list .copyright-list-item address {
font-style: normal;
}

/* line 63, app/assets/stylesheets/home/footer.scss */
footer .footer-container #copyright .copyright-list .copyright-list-item a {
color: inherit;
text-decoration: none;
}

/* line 66, app/assets/stylesheets/home/footer.scss */
footer .footer-container #copyright .copyright-list .copyright-list-item a:hover {
text-decoration: underline;
}

/* line 72, app/assets/stylesheets/home/footer.scss */
footer .footer-container #copyright .copyright-text {
font-size: 1.4rem;
margin: 0.4rem 0;
color: #868e96;
}

/* line 78, app/assets/stylesheets/home/footer.scss */
footer .footer-container #social {
margin-top: 3.2rem;
}

/* line 80, app/assets/stylesheets/home/footer.scss */
footer .footer-container #social .social-list {
list-style-type: none;
}

/* line 82, app/assets/stylesheets/home/footer.scss */
footer .footer-container #social .social-list .social-list-item {
display: inline-block;
margin-right: 2.4rem;
}

/* line 85, app/assets/stylesheets/home/footer.scss */
footer .footer-container #social .social-list .social-list-item .footer-social-link {
display: block;
}

/* line 88, app/assets/stylesheets/home/footer.scss */
footer .footer-container #social .social-list .social-list-item:last-child {
margin-right: 0;
}
/* line 6, app/assets/stylesheets/home/articles/cards.scss */
.cards-wrap {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
width: 100%;
margin: 0 auto;
}

/* line 12, app/assets/stylesheets/home/articles/cards.scss */
.cards-wrap .card-link {
text-decoration: none;
color: #212529;
}

/* line 16, app/assets/stylesheets/home/articles/cards.scss */
.cards-wrap .card-top,
.cards-wrap .card {
width: calc(25% - 44px);
margin-right: 44px;
margin-bottom: 56px;
}

/* line 21, app/assets/stylesheets/home/articles/cards.scss */
.cards-wrap .card-top .card-photo,
.cards-wrap .card .card-photo {
width: 100%;
padding-top: 100%;
position: relative;
overflow: hidden;
border-radius: 12px;
background-color: #F8F9FA;
box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
box-sizing: border-box;
}

/* line 32, app/assets/stylesheets/home/articles/cards.scss */
.cards-wrap .card-top .card-photo img,
.cards-wrap .card .card-photo img {
position: absolute;
top: 0;
bottom: 0;
width: 100%;
box-sizing: border-box;
border-radius: 12px;
border: 1px solid transparent;
/* 20201109 height 조건 값 설정*/
height:100%;

}

/* line 44, app/assets/stylesheets/home/articles/cards.scss */
.cards-wrap .card-top .card-category,
.cards-wrap .card .card-category {
position: relative;
}

/* line 46, app/assets/stylesheets/home/articles/cards.scss */
.cards-wrap .card-top .card-category .category-image,
.cards-wrap .card .card-category .category-image {
position: absolute;
top: 50%;
left: 50%;
width: 130px;
height: 130px;
transform: translate(-50%, -50%);
}

/* line 57, app/assets/stylesheets/home/articles/cards.scss */
.cards-wrap .card-top .card-desc,
.cards-wrap .card .card-desc {
margin-top: 12px;
}

/* line 59, app/assets/stylesheets/home/articles/cards.scss */
.cards-wrap .card-top .card-desc .card-title,
.cards-wrap .card .card-desc .card-title {
font-size: 16px;
letter-spacing: -0.02px;
color: #212529;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
margin-bottom: 4px;
line-height: 1.5;
font-weight: normal;
}

/* line 70, app/assets/stylesheets/home/articles/cards.scss */
.cards-wrap .card-top .card-desc .card-region-name,
.cards-wrap .card .card-desc .card-region-name {
font-size: 13px;
color: #212529;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
margin-bottom: 4px;
line-height: 1.5;
}

/* line 79, app/assets/stylesheets/home/articles/cards.scss */
.cards-wrap .card-top .card-desc .card-price,
.cards-wrap .card .card-desc .card-price {
font-size: 15px;
font-weight: 700;
line-height: 1.5;
margin-bottom: 4px;
}

/* line 85, app/assets/stylesheets/home/articles/cards.scss */
.cards-wrap .card-top .card-desc .card-price.blank-price,
.cards-wrap .card .card-desc .card-price.blank-price {
color: #212529;
}

/* line 88, app/assets/stylesheets/home/articles/cards.scss */
.cards-wrap .card-top .card-desc .card-counts,
.cards-wrap .card .card-desc .card-counts {
color: #868e96;
font-size: 13px;
}

/* line 94, app/assets/stylesheets/home/articles/cards.scss */
.cards-wrap .card {
width: calc(33% - 16px);
margin-right: 16px;
}

/* line 98, app/assets/stylesheets/home/articles/cards.scss */
.cards-wrap .card-top:nth-child(4n),
.cards-wrap .card:nth-child(3n) {
margin-right: 0;
}
/*




*/
/* line 20, app/assets/stylesheets/home/articles/hot.css.scss */
#content {
margin-top: 120px;
}

/* line 23, app/assets/stylesheets/home/articles/hot.css.scss */
.cards-wrap {
width: 677px;!import
margin: 0 auto;
}

/* line 28, app/assets/stylesheets/home/articles/hot.css.scss */
#hot-articles-navigation {
width: 980px;
margin: 0 auto;
text-align: right;
margin-bottom: 30px;
}

/* line 33, app/assets/stylesheets/home/articles/hot.css.scss */
#hot-articles-navigation .hot-articles-nav-select {
width: 180px;
margin-left: 8px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
padding: 12px 16px;
border-radius: 6px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border: solid 1px #e9ecef;
box-sizing: border-box;
font-size: 17px;
letter-spacing: -0.6px;
text-align: left;
background: #fff url(/images/화살표.svg) no-repeat 89% 50%;
}

/* line 52, app/assets/stylesheets/home/articles/hot.css.scss */
#hot-articles-navigation .hot-articles-nav-select:focus {
border: 1px solid #495057;
}

/* line 55, app/assets/stylesheets/home/articles/hot.css.scss */
#hot-articles-navigation .hot-articles-nav-select:disabled {
color: #adb5bd;
background: #f8f9fa url(/images/화살표회색.svg) no-repeat 89% 50%;
}

/* line 59, app/assets/stylesheets/home/articles/hot.css.scss */
#hot-articles-navigation .hot-articles-nav-select::-ms-expand {
display: none;
}

/* line 64, app/assets/stylesheets/home/articles/hot.css.scss */
#hot-articles-go-download {
margin-top: 60px;
width: 100%;
text-align: center;
background-color: #f8f9fa;
padding: 80px 0;
}

/* line 70, app/assets/stylesheets/home/articles/hot.css.scss */
#hot-articles-go-download h3 {
font-size: 22px;
font-weight: 700;
line-height: 1.6;
letter-spacing: -0.6px;
}

/* line 76, app/assets/stylesheets/home/articles/hot.css.scss */
#hot-articles-go-download p {
font-size: 17px;
line-height: 1.6;
letter-spacing: -0.6px;
color: #495057;
margin-top: 8px;
}

/* line 83, app/assets/stylesheets/home/articles/hot.css.scss */
#hot-articles-go-download #hot-articles-download-buttons {
margin-top: 16px;
}

/* line 85, app/assets/stylesheets/home/articles/hot.css.scss */
#hot-articles-go-download #hot-articles-download-buttons .download-button {
display: inline-block;
width: 120px;
padding: 13px 21px;
border-radius: 6px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
background-color: #ff8a3d;
text-decoration: none;
margin: 0 8px;
}

/* line 95, app/assets/stylesheets/home/articles/hot.css.scss */
#hot-articles-go-download #hot-articles-download-buttons .download-button .download-text {
display: inline-block;
color: #fff;
font-size: 20px;
font-weight: 700;
letter-spacing: -0.6px;
vertical-align: middle;
}

/* line 103, app/assets/stylesheets/home/articles/hot.css.scss */
#hot-articles-go-download #hot-articles-download-buttons .download-button .home-google-play-bar-white,
#hot-articles-go-download #hot-articles-download-buttons .download-button .home-apple-store-bar-white {
vertical-align: middle;
}

/* line 108, app/assets/stylesheets/home/articles/hot.css.scss */
#hot-articles-go-download #hot-articles-download-buttons .download-button:hover {
background-color: #f98538;
}

/* line 114, app/assets/stylesheets/home/articles/hot.css.scss */
#article-detail-hot-more {
margin: 2.4rem 1.6rem;
position: relative;
}

/* line 117, app/assets/stylesheets/home/articles/hot.css.scss */
#article-detail-hot-more h3 {
font-size: 1.7rem;
line-height: 1.47;
letter-spacing: -0.6px;
font-weight: 400;
padding-bottom: 2.4rem;
}

/* line 124, app/assets/stylesheets/home/articles/hot.css.scss */
#article-detail-hot-more #hot-more-link {
position: absolute;
top: 0;
right: 0;
text-align: right;
}

/* line 129, app/assets/stylesheets/home/articles/hot.css.scss */
#article-detail-hot-more #hot-more-link a {
font-size: 1.5rem;
line-height: 1.4;
letter-spacing: -0.6px;
text-decoration: none;
color: #ff8a3d;
}

/* line 138, app/assets/stylesheets/home/articles/hot.css.scss */
.hot-articles-wrap {
width: 100%;
}